  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true"
        internalLogLevel="Off"
        internalLogFile="NLog.log">

    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
      <target name="dbTarget" type="Database" connectionString="Server=dcp-sql.alpha.xsinc.com,40001;Database=DCP_Main;Trusted_Connection=True;TrustServerCertificate=true;">
        <commandText>Exec dbo.InsertApiLog @Thread, @Level, @Logger, @Message, @Exception, @CorrelationId, @Url, @Controller;</commandText>
        <parameter name="@Thread" layout="${threadname:whenEmpty=${threadid}}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Exception" layout="${exception:format=message}" />
        <parameter name="@CorrelationId" layout="${aspnet-traceidentifier}" />
        <parameter name="@Url" layout="${aspnet-request-url}" />
        <parameter name="@Controller" layout="${aspnet-mvc-controller}" />
      </target>
    </targets>

    <rules>
      <logger name="PSC.Manufacturer.API*" minlevel="Warning" writeTo="dbTarget" />
    </rules>
  </nlog>